{
  "rules": {
    "strict": [
      2,
      "global"
    ],
    "one-var": [
      2,
      "never"
    ],
    "camelcase": [
      2,
      {
        "properties": "always"
      }
    ],
    "eqeqeq": [
      2,
      "smart"
    ],
    "indent": [
      2,
      4
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended"
}
