*.swp
.idea
.DS_STORE
npm-debug.log
*~
examples
.editorconfig
.eslintrc
.git
.gitignore
.jshintrc
.npmignore
.travis.yml
Makefile
coverage
node_modules
Makefile
docs 
mkdocs.yml
.codeclimate.yml
v3-plan.md